.jokes{

}

.card {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 2rem 3rem;

  background-color: var(--background-light);

  height:clamp(10rem, 50vh, 30rem);
  width: clamp(25rem, 70vw, 40rem);

  border: var(--purple-light) 2px solid;
  border-radius: 1.25rem;
}