:root{
  --color-balck-1: #1a1a1a;
  --color-balck-2: #121212;
  --color-balck-3: #222222;

  --color-white-1: #F9F8F6;
  --color-white-2: #F4F4F6;
  --color-white-3: #F0ECE1;

  --color-purple: #2E1A47;
  --color-red: #FF3333;
  --color-yellow: #FFB300;
  --color-cyan: #00E5FF;

  background-color: var(--color-white-1);
  color: var(--color-balck-3);

  --text-color: var(--color-white-3);
}
